<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clear-day</key>
	<string>sun.max.fill</string>
	<key>clear-night</key>
	<string>moon.fill</string>
	<key>partly-cloudy-day</key>
	<string>cloud.moon.fill</string>
	<key>partly-cloudy-night</key>
	<string>cloud.sun.fill</string>
	<key>cloudy</key>
	<string>cloud</string>
	<key>fog</key>
	<string>cloud.fog.fill</string>
	<key>rain</key>
	<string>cloud.rain.fill</string>
	<key>sleet</key>
	<string>cloud.sleet.fill</string>
	<key>snow</key>
	<string>cloud.snow.fill</string>
	<key>wind</key>
	<string>wind</string>
</dict>
</plist>
